* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
  color: #FFFF;
}

h1{
  font-size: 70px;
}

button{
  font-size: 30px;
}